
.btnOpen{
    background: #F7859C;
    border-radius: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    padding: 8px 26px 11px;
}