.exclusiveContent{
    background: #FBF1E6;
        h4{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: #222222;
            position: relative;
        }
        h1{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 65px;
            line-height: 58px;
            color: #222222;
            margin-bottom: 68px;
        }
}