header{
    padding-top: 32px;
    background-image: url(../../assets/header-section/header/bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-bottom: 340px;
    margin-bottom: 120px;
h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 97px;
    line-height: 87px;
    text-align: center;
    color: #222222;
    margin-bottom: 45px;
    margin-top: 20px;
}
p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #404756;
    margin-bottom: 30px;
}
}
