.navbar{
a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    margin: 0 15px;
}
button{
    margin-left: 15px;
}
nav {
    margin-bottom: 90px;
}
}